<!--
    account-settings.hbs
    Purpose:
        - This is the page where the user can change their account settings.
    Contributors:
        - AJ
-->

            <!-- Container -->
            <div class="account-container">
                <div class="account-photo-holder">
                    <div class="account-photo">
                        <img src="/static/img/default-profile-pic.jpg" alt="profile-picture">
                    </div>
                    <div class="account-photo-text">
                        <h1>Change Photo</h1>
                        {{!-- <h2>Employee</h2> --}}
                    </div>
                </div>

                <div class="account-details">
                    Account Details

                </div>
                

            </div>
            <!-- End of Container -->