
        <!-- Enter Employee Modal -->
        <div id="enterEmployeeModal" class="modal fade" tabindex="-1" aria-labelledby="enterEmployeeModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
						<h3 class="modal-title employee-form-header">Employee Form</h3>
                    </div>
                    
                    <div class="modal-body">
                        <div class="myform bg-dark">
                            <h5 class="employee-form-subheader mb-3 p-3">Employee Details</h5>
                            <form id="employee-form">
                                <div class="row px-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="employeeFirstName" class="form-label">First Name</label>
                                            <input type="text" class="form-control" id="employeeFirstName" placeholder="Enter First Name" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="employeeMiddleName" class="form-label">Middle Name</label>
                                            <input type="text" class="form-control" id="employeeMiddleName" placeholder="Enter Middle Name">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="employeeLastName" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="employeeLastName" placeholder="Enter Last Name" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="employeeSuffix" class="form-label">Suffix</label>
                                            <input type="text" class="form-control" id="employeeSuffix" placeholder="Enter Suffix">
                                        </div>
                                    </div>
                                </div>

                                
                                <h5 class="employee-form-subheader mb-3 p-3">Employment Details</h5>

                                <div class="row px-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="employeePosition" class="form-label">Position</label>
                                            <input type="text" class="form-control" id="employeePosition" placeholder="Enter Employee's Position" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="employeeDeployment" class="form-label">Deployment (in Hours)</label>
                                            <input type="number" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" class="form-control" id="employeeDeployment" placeholder="Enter the Hours of Deployment" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="employeeRate" class="form-label">Rate (per Hour)</label>
                                            <input type="number" min="0" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" class="form-control" id="employeeRate" placeholder="Enter the Cost of Rate per Hour" required>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="pt-5 pb-3 px-5">
                                    <button type="submit" id="enter-employee-btn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#enterEmployeeModal" onclick="clickedSubmitEmployeeBtn()">Enter Employee</button>
                                </div>
                            </form>
						</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Create New Tracker -->           
            <div class="main-container">
                

                <form action="/new-tracker" method="post" id="new-tracker-form">
                    {{!-- <div class="new-tracker-btns"> --}}
                    <button type="button" id="btn-create-new-tracker" class="btn btn-success mb-3 me-3">Create New Tracker</button>
                    <button type="button" id="btw-cancel-tracker" class="btn btn-danger mb-3 me-3">Discard Tracker</button>
                        <!--
                            data-bs-toggle="modal" data-bs-target="#createNewTrackerModal"
                            data-bs-toggle="modal" data-bs-target="#cancelTrackerModal"
                        -->
                    {{!-- </div> --}}



                    <input type="hidden" name="action" value="create-new-tracker">
                    
                    <div class="bottom-data">
                        <div class="reports">
                            <div class="mb-3">
                                <label for="new-project-name" class="form-label fw-bold">Project Name</label>
                                <input type="text" class="form-control" id="new-project-name" placeholder="Enter Project Name" required>
                            </div>
                            <div class="mb-3">
                                <label for="new-project-desc" class="form-label fw-bold">Project Description</label>
                                <input type="text" class="form-control" id="new-project-desc" placeholder="Enter Project Description" required>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <div class="div-options-employee">
                            <span class="new-tracker-to-do">
                                Employee List
                            </span>
                            <span>
                                <button type="button" id="btn-enter-employee" class="btn btn-primary mb-3 me-3" data-bs-toggle="modal" data-bs-target="#enterEmployeeModal" onclick="clickedAddEmployeeBtn()">Add Employee</button>
                                <!-- <button type="button" id="btn-edit-employee" class="btn btn-warning mb-3 me-3"  onclick="clickedEditEmployeeBtn()">Edit Employee</button>
                                <button type="button" id="btn-remove-employee" class="btn btn-danger mb-3 me-3"  onclick="clickedRemoveEmployeeBtn()">Remove Employee</button>
                                -->
                                <!--
                                    data-bs-toggle="modal" data-bs-target="#editEmployeeModal"
                                    data-bs-toggle="modal" data-bs-target="#removeEmployeeModal"
                                -->
                            </span>
                            
                        </div>
                        <table id="employee-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Deployment (in Hrs)</th>
                                    <th>Rate (per Hr)</th>
                                    <th>Total Rate</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
