<!-- DASHBOARD -->
            <main>
                <!-- Cards -->
                <ul class="cards">
                    <li>
                        <i class="bx bx-group"></i>
                        <span class="info">
                            <h3>1, 200</h3>
                            <p>Total Employees</p>
                        </span>
                    </li>

                    <li>
                        <i class="bx bx-cart-add"></i>
                        <span class="info">
                            <h3>9, 973</h3>
                            <p>Total Projects</p>
                        </span>
                    </li>

                    <li>
                        <i class="bx bx-line-chart"></i>
                        <span class="info">
                            <h3>5, 373</h3>
                            <p>Total Deployment</p>
                        </span>
                    </li>

                    <li>
                        <i class="bx bx-dollar-circle"></i>
                        <span class="info">
                            <h3>₱56, 373</h3>
                            <p>Total Cost</p>
                        </span>
                    </li>
                </ul>
                <!-- End of cards -->

                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <div class="header">
                            <h3>REPORT</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="card chart-container">
                                <canvas class="chart" id="chartAllEmployees" style="width:100%;max-width:400px"></canvas>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="card chart-container">
                                <canvas class="chart" id="chartAllDeployments" style="width:100%;max-width:400px"></canvas>
                              </div>
                            </div>
                        </div> <!-- End of row --> 
                    </div> <!-- End of reports -->
                </div> <!-- End of bottom-data -->
            </main> <!-- End of Main --> 


        <!-- Reference charts.js -->
        {{!-- <script src="/static/js/charts.js"></script> --}}