

        <script src="/static/js/employee-list.js"></script>

            <!-- Main -->
            <main>
                <div class="header">
                    <h1>Employee List</h1>
                    <!-- <ul class="breadcrumbs">
                        <li><a href="#">Analytics</a> / <a href="#">Contents</a></li>
                    </ul> -->
                </div>

                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <table id="employee-list-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Project Name</th>
                                    <th>Position</th>
                                    <th>Deployment (in Hrs)</th>
                                    <th>Rate (per Hr)</th>
                                    <th>Total Rate</th>
                                </tr>
                            </thead>
                            <tbody id="employee-list-tbody">
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>


