<!--
    employee-list.hbs
    Purpose:
        - This is the partial page that contains the table for the employee list.
        - All employees from the database will be displayed here.
-->


            <div class="header">
                <span class="flex-container">
                    <h1>{{ pageTitle }}</h1>
                </span>
            </div>

            <!-- Container -->
            <div class="main-container">
                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <table id="employee-list-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Project Name</th>
                                    <th>Position</th>
                                    <th>Deployment (in Hrs)</th>
                                    <th>Rate (per Hr)</th>
                                    <th>Total Rate</th>
                                </tr>
                            </thead>
                            <tbody id="employee-list-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End of Container -->


