<!--
    navbar.hbs
    Purpose:
        - This is the partial page that contains the navigation bar.
        - It is used in all pages.
        - The navbar contains all the links to the pages.
-->
        
        <!-- Navigation Bar -->
        <div class="sidebar">
            <div class="client-container">
                <a href="/dashboard" class="logo">
                    <img src="/static/img/FINSI-logo-light.png" alt="logo"/>
                    <span>
                        <div class="client-name">FINSI</div>
                        <div class="sub-client-name">Leading Edge Local</div>
                    </span>
                </a>
            </div>
            
            <ul class="side-menu">
                <li {{#if (eq activePage 'dashboard')}} class="active" {{/if}}>
                    <a href="/dashboard"><i class="fa fa-solid fa-table-columns"></i>Dashboard</a>
                </li>
                <li {{#if (eq activePage 'create-new-tracker')}} class="active" {{/if}}>
                    <a href="/create-new-tracker"><i class="fa fa-solid fa-square-plus"></i>Create New Tracker</a>
                </li>
                <li {{#if (eq activePage 'project-list')}} class="active" {{/if}}>
                    <a href="/project-list"><i class="fa fa-solid fa-table-list"></i>Project List</a>
                </li>
                <li {{#if (eq activePage 'employee-list')}} class="active" {{/if}}>
                    <a href="/employee-list"><i class="fa fa-solid fa-users"></i>Employee List</a>
                </li>
                <li {{#if (eq activePage 'account-settings')}} class="active" {{/if}}>
                    <a href="/account-settings"><i class="fa fa-solid fa-user-gear"></i>Account Settings</a>
                </li>
                <li {{#if (eq activePage 'about-page')}} class="active" {{/if}}>
                    <a href="/about-page"><i class="fa fa-solid fa-circle-info"></i>About</a>
                </li>
            </ul>

            <div class="div-logout">
                <ul class="side-menu">
                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal" ><i class="fa fa-solid fa-sign-out signout"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>