<!--
    project-list.hbs
    Purpose:
        - This is the partial page that contains the table for the project list.
        - All projects from the database will be displayed here.
-->

            <div class="header">
                <span class="flex-container">
                    <h1>{{ pageTitle }}</h1>
                </span>
            </div>


            <!-- Container -->
            <div class="main-container">
                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <table id="project-list-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Project Name</th>
                                    {{!-- <th>Project Location</th> --}}
                                    <th>Project Description</th>
                                    <th>No. of Employees</th>
                                    <th>Deployment (in Hrs)</th>
                                    {{!-- <th>Status</th> --}}
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End of Container -->

