<!-- 
    about-page.hbs
    Purpose:
        - About page for FINSI that displays the team members and the features used in the project.
-->
   
        {{!-- Navbar --}}
        <header class="navbar navbar-expand-sm fixed-top">
            <nav class="container-fluid">
                <div class="d-flex flex-wrap">
                    <div class="p-1 nav-product-logo">
                        <a href="/landing-page">
                            <img class="navbar-product-logo" src="/static/img/FINSI-logo-light.png">
                        </a>
                    </div>
                    <div class="nav-header-body">
                        <div class="nav-page-info mt-2">
                            <h1 class="page-name">About Page</h1>
                        </div>
                        {{!-- <div class="nav-user-info">
                            <div>Hello, user!</div>
                        </div> --}}
                    </div>
                </div>
                <div class="d-flex flex">
                    <div class="p-2"><a href="/landing-page" class="btn btn-primary">Home</a></div>
                    <div class="p-2"><a href="/" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a></div>
                </div>
            </nav>
        </header>

        <!-- Cover Photo -->
        <img class="container-fluid bg-body about-cover" src="/static/img/wearefinsi_cover.jpg">

        <!-- Display all Features used: etc. Bootstrap 5-->
        <div class="container about-features">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mb-5 txt-features">Features</h2>
            </div>
            <div class="row text-center">
                <!-- Bootstrap 5 -->
                <div class="col-md-4 mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-bootstrap icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Bootstrap</h4>
                    <p>
                        Bootstrap 5.3-alpha3
                    </p>
                </div>

                <!-- Font Awesome -->
                <div class="col-md-4 mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-solid fa-stack-2x fa-font-awesome icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Font-Awesome</h4>
                    <p>Version 6.4.2</p>
                </div>

                <!-- MongoDB -->
                <div class="col-md-4 mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-solid fa-stack-2x fa-database icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Database - MongoDB</h4>
                    <p>Version 6.1.0</p>
                </div>

                <!-- Node.js -->
                <div class="col-md-4 mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-node-js icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Node.js</h4>
                    <p>Version 16.6.1</p>
                </div>

                <!-- NPM -->
                <div class="col-md-4 mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">NPM</h4>
                    <p>Version 7.24.0</p>
                </div>

                <!-- Electron -->
                <div class="col-md-4 mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <img class="fas fa-stack-2x electron" src="/static/img/electron.png">
                        </span>
                    </a>
                    <h4 class="my-3">Electron</h4>
                    <p>Version 26.2.4</p>
                </div>
            </div>
        </div>

        <!-- Team -->
        <div class="container about-team">
            <div class="text-center">
                <h2 class="section-heading text-uppercase mt-5 mb-5 txt-team">NPM Modules</h2>
            </div>
            <div class="row row-cols-4 text-center">

                <!-- Bcrypt -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Bcrypt</h4>
                    <p>Version 5.1.1</p>
                </div>

                <!-- Body Parser -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Body Parser</h4>
                    <p>Version 1.20.2</p>
                </div>

                <!-- Cookie Parser -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Cookie Parser</h4>
                    <p>Version 1.4.6</p>
                </div>

                <!-- Dotenv -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Dotenv</h4>
                    <p>Version 16.3.1</p>
                </div>

                <!-- Express -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Express</h4>
                    <p>Version 4.18.2</p>
                </div>

                <!-- Express Handlebars -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Express Handlebars</h4>
                    <p>Version 7.1.2</p>
                </div>

                <!-- Express Session -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Express Session</h4>
                    <p>Version 1.17.3</p>
                </div>

                <!-- Mongoose -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Mongoose</h4>
                    <p>Version 8.0.1</p>
                </div>

                <!-- Nodemon -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Nodemon</h4>
                    <p>Version 3.0.1</p>
                </div>

                <!-- Passport -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Passport</h4>
                    <p>Version 0.6.0</p>
                </div>

                <!-- Passport Local Mongoose -->
                <div class="col mt-3">
                    <a href="#">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-brands fa-stack-2x fa-npm icon"></i>
                        </span>
                    </a>
                    <h4 class="my-3">Passport Local Mongoose</h4>
                    <p>Version 8.0.0</p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer py-4">
            <div class="p-5 container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <a class="text-decoration-none me-3 txt-footer" href="#">Privacy Policy</a>
                        <a class="text-decoration-none txt-footer" href="#">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>