<!-- Index Page Contents -->
		<div class="index-container">
			<div class="div-logo text-center">
				<img class="product-logo" src="static/img/product-logo-name.png" alt="logo" width="100">
			</div>

			<!-- Login Button -->
			<div class="div-login text-center">
				<button type="button" id="login-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
			</div>

			<!-- Register Button -->
			<div class="div-register text-center">
				<button type="button" id="register-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
			</div>

			<div class="text-center mt-5 position-fixed fixed-bottom copyright">
				Copyright &copy; 2023 &mdash; CSSWENG-S12 Group 3
			</div>
		</div>