<!--
    landing-page.hbs
    Purpose:
        - This is the main page of the website that contains the navbar and the main content of the website.
        - The main content is dynamically changed depending on the page (partials) that the user is currently in.
-->

        <div class="landing-page-container">
            {{> navbar}}
        </div>

        <!-- Content -->
        <div class="content">
            <!-- Start of Navbar -->
            <nav>
                <div class="nav-container">
                    <div class="profile-and-info">
                        <a href="#" class="profile">
                            <img src="/static/img/default-profile-pic.jpg" alt="profile"/>
                        </a>
        
                        <div class="profile-info">
                            <h3> Hello, (fixed my name)! </h3>
                            <div id="date-time-placeholder"></div>
                        </div>
                    </div>
                </div>

                <!-- Create a search bar here -->
                <form action="#" class="search-form">
                    <div class="form-input">
                        <input type="search" placeholder="Search..."/>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </nav>
            <!-- End of Navbar -->
            

            <!-- Main Contents -->
            <main id="changing-container-placeholder">
                <!-- Change the main content here -->
                {{> (lookup . 'partial')}}
            </main>  
        </div>
        <!-- End of Content -->
        
        <!-- Scripts -->
        <script>
            function updateDateTime() {
                const dateTimeElement = document.getElementById('date-time-placeholder');
                const now = new Date();
                const dateTimeString = now.toLocaleString();
                dateTimeElement.textContent = dateTimeString;
            }

            updateDateTime();
            setInterval(updateDateTime, 1000);
        </script>