<!--
    landing-page.hbs
    Purpose:
        - This is the main page of the website that contains the navbar and the main content of the website.
        - The main content is dynamically changed depending on the page (partials) that the user is currently in.
-->

        <div class="landing-page-container">
            {{> navbar}}
        </div>

        <!-- Content -->
        <div class="content">
            <!-- Start of Navbar -->
            <nav>
                <div class="nav-container">
                    <div class="profile-and-info">
                        <a href="#" class="profile">
                            <img src="/static/img/default-profile-pic.jpg" alt="profile"/>
                        </a>
                        
                        <h3> Hello, {{ name }}! </h3>
                        
                    </div>

                    <div class="d-flex flex-column justify-content-end my-3 date-time">
                        <div class="d-flex justify-content-end date-placeholder fw-bold" id="date-placeholder"></div>
                        <div class="d-flex justify-content-end time-placeholder fw-bold" id="time-placeholder"></div>
                    </div>
                </div>
            </nav>
            <!-- End of Navbar -->
            

            <!-- Main Contents -->
            <main id="changing-container-placeholder">
                <!-- Change the main content here -->
                {{> (lookup . 'partial')}}
            </main>  
        </div>
        <!-- End of Content -->
        
        <!-- Scripts -->
        <script>
            function updateDateTime() {
                const dateElement = document.getElementById('date-placeholder');
                const timeElement = document.getElementById('time-placeholder');

                const now = new Date();

                // Format the date as "<day> <month name> <year>"
                const day = now.getDate();
                const monthIndex = now.getMonth();
                const year = now.getFullYear();

                const monthNames = [
                    'January', 'February', 'March', 'April', 'May', 'June',
                    'July', 'August', 'September', 'October', 'November', 'December'
                ];

                const monthName = monthNames[monthIndex];

                const dateString = `${day} ${monthName} ${year}`;
                const timeString = now.toLocaleTimeString();

                dateElement.textContent = dateString;
                timeElement.textContent = timeString;
            }

            updateDateTime();

            setInterval(updateDateTime, 1000);
        </script>