



            <!-- Main -->
            <main>
                <div class="header">
                    <h1>Project List</h1>
                    <!-- <ul class="breadcrumbs">
                        <li><a href="#">Analytics</a> / <a href="#">Contents</a></li>
                    </ul> -->
                </div>

                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <table id="project-list-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Project Name</th>
                                    <th>Project Description</th>
                                    <th>No. of Employees</th>
                                    <th>Deployment (in Hrs)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="td-project-no">1</td>
                                    <td id="td-project-name">Project A</td>
                                    <td id="td-project-description">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                                    </td>
                                    <td id="td-project-employees">5</td>
                                    <td id="td-project-deployment">10</td>
                                </tr>
                                <tr>
                                    <td id="td-project-no">2</td>
                                    <td id="td-project-name">Project B</td>
                                    <td id="td-project-description">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
                                    </td>
                                    <td id="td-project-employees">5</td>
                                    <td id="td-project-deployment">10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>


        <script src="../js/project-list.js"></script>

        <script>
            initializeProjectListTable();
        </script>