


            <div class="landing-page-container">
                {{> navbar}}
            </div>
        <!-- Content -->
        <div class="content">
            <nav>
                <div class="nav-container">
                    <div class="profile-and-info">
                        <a href="#" class="profile">
                            <img src="/static/img/default-profile-pic.jpg" alt="profile"/>
                        </a>
        
                        <div class="profile-info">
                            <h3> Hello, {{user.firstName}}! </h3>
                            <div id="date-time-placeholder"></div>
                        </div>

                    </div>
                    
                    <div class="div-logout">
                        <button type="button" id="logout-btn" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#logoutModal" onclick="clickedLogoutBtn()">Logout</button>
                    </div>
                </div> 
            </nav>
            <!-- End of nav -->
            <!-- Main -->
            <main>
                <div class="header">
                    <h1>Project List</h1>
                    <!-- <ul class="breadcrumbs">
                        <li><a href="#">Analytics</a> / <a href="#">Contents</a></li>
                    </ul> -->
                </div>

                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <table id="project-list-table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Project Name</th>
                                    <th>Project Description</th>
                                    <th>No. of Employees</th>
                                    <th>Deployment (in Hrs)</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div> <!-- End of Content -->

        <script src="/static/js/project-list.js"></script>

        <script>
            initializeProjectListTable();
        </script>