:root {
    --light: #F6F6F9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #EEEEEE;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
}

.fa {
    font-size: 1.7rem;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*** Number Text Field ***/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*** Scrollbar ***/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Utility Classes */
body.dark {
    --light: #181A1E;
    --grey: #25252C;
    --dark: #FBFBFB;
}

body {
    background-color: var(--grey);
    overflow-x: hidden;
}


/****** Index Page *****/
.index-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light);
}


/*** INDEX LOGO ***/
.client-logo {
    width: 550px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 80px;
    flex-shrink: 0;
}

#login-btn, #register-btn{
    width: 472px;
    margin-bottom: 20px;
}

.copyright {
    font-size: 1em;
    color: var(--dark);
    margin: 20px;
}


/*** MODAL ***/
.myform {
    max-width: 100%;
}

.modal-body {
    padding: 0px;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
    
}

.modal-content {
    width: 80%;
    margin: 0px auto;
    background-color: var(--light);
}

.index-form-header {
    font-size:  2.3em;
    font-weight: bold;
    color: var(--dark);
}

.index-form-label {
    color: var(--dark);
}

.myform {
    padding: 2em;
    max-width: 100%;
    color: var(--light);
    box-shadow: 0 4px 6px 0px rgba(22, 22, 26, 0.18);
    @media(max-width: 576px) {
        max-width: 90%;
        margin: 0px auto;
    }
}

.form-control {
    background-color: inherit;
    color: var(--dark);
    padding-left:  0px;
    border: 0px;
    border-bottom: 1px solid var(--dark);
}

.myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: var(--dark);
    border-radius: 0;
    padding: 0.5em 0;
}

.myform .btn:hover {
    color: var(--grey);
}

.login-form .btn {
    background-color: var(--dark);
    color: var(--light);
}

.login-form .btn:hover {
    background-color: var(--light);
    color: var(--dark);
}

#register-form .btn {
    background-color: var(--dark);
    color: var(--light);
}

#register-form .btn:hover {
    background-color: var(--light);
    color: var(--dark);
}

.fas {
    cursor: pointer;
}

/*** END of MODAL ***/

/***** End of Index Page *****/


/***** Navbar *****/
.sidebar {
    margin-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light);
    width: 260px;
    height: 100%;
    z-index: 2;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 60px;
}

.sidebar .client-container {
    background-color: var(--grey);
    height: 4.5rem;
    margin-top: 0.5rem;
}

.sidebar .client-container .logo {
    display: flex;
    align-items: center;
    height: 56px;
    z-index: 1;
}

.sidebar .logo img {
    width: 25%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.sidebar .logo span .client-name {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: var(--dark);
    font-size: 1.7rem;
    font-weight: 700;
}

.sidebar .logo span .sub-client-name {
    margin-left: 1rem;
    color: var(--dark-grey);
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 2rem;
}

.sidebar .side-menu li {
    margin: 0.5rem 0;
    height: 3rem;
    background-color: transparent;
    color: var(--dark);
}

.sidebar .side-menu li.active {
    border-left: var(--success) 6px solid;
    background: var(--light);
    transition: all 0.3s ease-in;
}

.sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease, color 0.3s ease;
    color: var(--dark);
}

.sidebar .side-menu li.active a {
    color: var(--success);
    background-color: var(--grey);
    transition: color 0.3s ease;
}

.sidebar.close .side-menu li a {
    width: calc(80px - 12px);
    transition: all 0.3s ease-in;
}

.sidebar .side-menu li a .fa {
    min-width: calc(80px - 12px);
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-right: 0;
}

.sidebar.close .logo img {
    width: 100%;
}

.side-menu li a .signout {
    color: var(--danger);
}

.sidebar .div-logout {
    /* fix to align logout button to the bottom */
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}


/* Content */
.content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}

.sidebar.close ~ .content {
    width: calc(100% - 60px);
    left: 60px;
}

.content nav {
    height: 56px;
    background-color: var(--light);
    padding: 2.5rem 1rem;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.content nav a {
    color: var(--dark);
}

/* .content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
    font-size: 2rem;
} */


/* Search Bar in Content Nav */
/* .content nav form {
    max-width: 600px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input {
    display: flex;
    align-items: center;
    height: 46px;
}

.content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background-color: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    color: var(--dark);
    width: 100%;
    font-family: inherit;
}

.content nav form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--success);
    color: var(--light);
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav form .form-input button .bx-search {
    color: white;
} */

/* .content nav .notification {
    font-weight: 20px;
    position: relative;
}

.content nav .notification span {
    position: absolute;
    top: -6px;
    width: 26px;
    height: 20px;
    background-color: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
} */

.content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--dark-grey);
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-and-info {
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.profile-info {
    color: var(--dark);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}



/* Card */
main {
    width: 100%;
    padding: 1rem 1rem;
    max-height: calc(100vh - 65px);
}

main .header {
    display: flex;
    align-items: center;
    grid-gap: 1.2rem;
}

/* Search */
.search-employee {
    width: 75%;
    margin-right: auto;
}

.search-project {
    width: 80%;
    margin-right: auto;
}

.search-form .form-input {
    display: flex;
    align-items: center;
    height: 40px;
}

.search-form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background-color: var(--light);
    border-radius: 36px 0 0 36px;
    outline: none;
    color: var(--dark);
    width: 100%;
    font-family: inherit;
}

.search-form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--success);
    color: var(--light);
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

main .header h1 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.1rem;
    color: var(--dark);
}

main .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 1.2rem;
}

main .breadcrumb li {
    color: var(--dark);
}

main .breadcrumb li a {
    color: var(--dark);
    pointer-events: none;
}

main .breadcrumb li a.active {
    color: var(--success);
}

main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 1rem;
}

main .cards li {
    padding: 1.8rem;
    background-color: var(--light);
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in;

    /* make the contents of the card be side by side */
    display: flex;
    flex-direction: row;
    
    /* adjust the space between the i and the info */
    grid-gap: 0.5rem;

    /* wrap the h3 */
    /* flex-wrap: wrap; */

    /* if the text is too long, continue in the next line */
    /* word-wrap: break-word; */
}

main .cards li:hover {
    transform: translateY(-10px);
}

main .cards li .fa {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .cards li:nth-child(1) .fa {
    background-color: var(--light-primary);
    color: var(--primary);
}

main .cards li:nth-child(2) .fa {
    background-color: var(--light-warning);
    color: var(--warning);
}

main .cards li:nth-child(3) .fa {
    background-color: var(--light-danger);
    color: var(--danger);
}

main .cards li:nth-child(4) .fa {
    background-color: var(--light-success);
    color: var(--success);
}

main .cards li .info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark);

    /* wrap the content of the h3, if it is too long, continue in the next line */
    word-wrap: break-word;
    overflow: hidden;
    max-width: 150px;
    text-align: left;
}

main .cards li .info p {
    color: var(--dark);
}

.template-btn-container {
    margin: 0.5rem;
    height: 90%;
}

/* Data */
.content main .bottom-data {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 24px;
    margin-top: 24px;
    color: var(--dark);
}

.content main .bottom-data > div {
    border-radius: 10px;
    background-color: var(--light);
    padding: 24px;
    overflow: hidden;
}

main .bottom-data .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 20px;
}

main .bottom-data .reports {
    flex-grow: 1;
    flex-basis: 500;
}



/* Projects */
/* main .bottom-data .projects {
    flex-grow: 1;
    flex-basis: 100px;
}

main .bottom-data .projects .project-list {
    width: 100%;
}

main .bottom-data .projects .project-list li {
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--grey);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

main .bottom-data .projects .project-list li .project-title {
    display: flex;
    align-items: center;
}

main .bottom-data .projects .project-list li .project-title p {
    margin-left: 10px;
    margin-bottom: 2px;
}

main .bottom-data .projects .project-list li .project-title {
    cursor: pointer;
}

main .bottom-data .projects .project-list li.current{
    border-left: 5px solid var(--success);
} */

.main-container {
    padding: 0;
}


/* Logout Modal */

.logout-form-header {
    color: var(--dark);
}

.logout-options .logout-btn {
    width: 75%;
    background-color: var(--dark);
    color: var(--light);
}

.logout-options .logout-btn:hover {
    background-color: var(--light);
    color: var(--dark);
}


/* Employee List */
main .bottom-data .reports table th {
    padding: 12px 10px;
    font-size: 1rem;
    text-align: left;
    border-bottom: 2px solid var(--grey);
    background-color: var(--grey);
    color: var(--dark);
}

main .bottom-data .reports table td {
    padding: 10px 8px;

    /* Set the limit of the text and put ... (elipses) in the end */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    max-width: 200px;
    text-align: left; */

    /* Set the limit of the text and put in the next line the remaining text */
    word-wrap: break-word;
    overflow: hidden;
    max-width: 200px;
    text-align: left;
}

/* .content main .bottom-data .reports table .img-content {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
} */

main .bottom-data .reports table {
    width: 100%;
    border-collapse: collapse;
}

/* .content main .bottom-data table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
} */

.content main .bottom-data .reports table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.content main .bottom-data .reports table tbody tr:nth-child(even) {
    background-color: var(--grey);
}


/* New Tracker */
.myform {
    max-width: 100%;
}

.modal-body {
    padding: 10px;
}

.btn-close {
    position: absolute;
    right: 1em;
    padding: 1em;
}

.employee-form-header {
    font-size: 2.3em;
    font-weight: bold;
    color: var(--dark);
}

.employee-form-subheader, .form-label {
    color: var(--dark);
}

#enter-employee-btn {
    background-color: var(--dark);
    color: var(--light);
}

#enter-employee-btn:hover {
    background-color: var(--light);
    color: var(--dark);
}

.new-tracker-to-do {
    font-size: xx-large;
    font-weight: bold;
    padding-right: 10px;
}


input[type="date"] {
    color: var(--light);
    opacity: 1;
    background-color: var(--dark);
    cursor: pointer;
}


/***** Account Settings *****/
.account-container {
    /* Make the account photo holder
    and account details side by side */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    height: 75vh;
    /* background-color: var(--light); */
    
}


.account-photo-holder {
    width: 35%;
    height: 100%;
    background-color: var(--light);
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 1rem;
}

.profile-pic-title {
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.account-photo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.account-photo #image-preview {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: var(--grey);
}

.account-photo-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-photo-upload form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-photo-upload #uploadForm {
    display: flex;
    flex-direction: row;
}

.account-photo-upload form input {
    display: none;
}

.account-photo-upload form label {
    font-weight: bold;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.account-photo-upload form label:hover {
    background-color: var(--grey);
    color: var(--dark);
}

.account-photo-upload .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
}

.account-photo-upload, .account-details {
    color: var(--dark);
}

.account-details-holder {
    width: 60%;
    height: 100%;
    background-color: var(--light);
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 3rem;
}


#edit-account-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}


/* charts */
.chart-container {
    width: 90%;
    height: 20rem;
    background-color: var(--dark);
    margin-top: 0;
    margin-left: 1.5rem;
    margin-right: 1rem;
}