* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to right, #ffde59, #ff914d);
    padding: 1.5rem;
}

.product-logo {
    width: 450px;
    height: 120px;
    flex-shrink: 0;
}