* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /*background-image: linear-gradient(to right, #0d212a, #120f31); */ 
    /*background-color: #0d0a22; */
    background-image: linear-gradient(to right, #ffde59, #ff914d);
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-logo {
    width: 400px;
    height: 120px;
    flex-shrink: 0;
    margin-bottom: 50px;
}

/* Nav Bar */
.navbar {
    background-image: linear-gradient(to right, #ffde59, #ff914d);
    border-bottom: 1px solid black;
    padding: 0;
}

.navbar-product-logo {
    width: 100%;
    height: 50px;
}

.page-name {
    display: block;
    font-weight: bold;
}

.nav-user-info {
    color: #262626;
    line-height: 5px;
    font-size: 12px;
    font-style: italic;
    margin: 0;
    margin-left: 0.1rem;
    padding: 0;
}

/* Body */
.box {
    background-color: #ffffff;
    height: 15rem;
    width: 15rem;
    margin-top: 20px;
}

.directory {
    color: #003049;
}

/* Charts */
.chart {
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
}